# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ
.idea/
*.iml
*.iws
out/
!gradle/wrapper/gradle-wrapper.jar
# Logs and temp files
*.log
*.tmp

# Cucumber Reports
cucumber-report.html
build/reports/